* {
  box-sizing: border-box;
  max-width: 100%;
  padding: 0;
  margin: 0;
}

:root {
  --color-very-dark-blue: hsl(243, 87%, 12%);
  --color-desaturated-blue: hsl(239, 22%, 44%);
  --color-bright-blue: hsl(224, 93%, 58%);
  --color-moderate-cyan: hsl(170, 45%, 43%);
  --color-light-grayish-blue: hsl(240, 75%, 98%);
  --color-light-gray: hsl(0, 0%, 75%);
  --padding-main: 7vw 5vw;
}

body {
  font-family: "Open Sans", sans-serif;
}

header,
section,
footer {
  padding: var(--padding-main);
}

h2 {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  margin-bottom: 1em;
  line-height: 1.6em;
}

article > p {
  margin-bottom: 1em;
  line-height: 1.5em;
}

/* Start header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Raleway", sans-serif;
  color: var(--color-very-dark-blue);
}

.logo {
  width: 100px;
}

nav a {
  text-decoration: none;
  margin-right: 5vw;
}
/* End header */
/* Start main */

section {
  display: flex;
  flex-flow: row-reverse wrap;
  align-items: flex-start;
}

section > * {
  width: 300px;
  flex: 1 1 45%;
  margin: 1em;
}

section:nth-child(1) h2 {
  font-size: calc(1.2rem + 1.2vw);
}

.text-button > * {
  height: 3em;
  font-family: "Raleway", sans-serif;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.text-button input[type="submit"] {
  border: none;
  color: white;
  font-weight: bold;
  background-color: var(--color-bright-blue);
}

.text-button input[type="email"] {
  padding: 1rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

section:nth-child(2) h2 {
  font-size: calc(0.5rem + 2vw);
}

section:nth-child(2) {
  background-image: url(../images/bg-curve-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

section:nth-child(2) a {
  color: var(--color-moderate-cyan);
  display: block;
  margin-bottom: 2em;
}

blockquote {
  max-width: 320px;
  background-color: white;
  padding: 1.5rem;
  font-size: calc(0.6rem + 0.25vw);
  line-height: 1.5rem;
  text-align: left;
  box-shadow: 1px 1px 8px var(--color-light-gray);
  border-radius: 2%;
  -webkit-border-radius: 2%;
  -moz-border-radius: 2%;
  -ms-border-radius: 2%;
  -o-border-radius: 2%;
}

blockquote cite {
  display: flex;
  align-items: center;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  line-height: 1.5em;
  margin-top: 1rem;
}

blockquote cite img {
  margin-right: 5%;
  width: calc(2rem + 0.2vw);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

blockquote cite .name {
  font-weight: bold;
  font-size: calc(0.6rem + 0.2vw);
}

blockquote cite .title {
  font-size: calc(0.5rem + 0.2vw);
  color: var(--color-desaturated-blue);
}

section:nth-child(3) {
  background-color: var(--color-desaturated-blue);
  color: var(--color-light-grayish-blue);
  flex-direction: row;
}

section:nth-child(3) h2 {
  font-size: calc(0.9rem + 1vw);
}

section:nth-child(3) input[type="email"] {
  width: 30rem;
}

section:nth-child(3) article {
  min-width: 240px;
}
/* End main */
/* Start footer */

footer {
  background-color: var(--color-very-dark-blue);
  color: var(--color-light-grayish-blue);
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

ul {
  width: 250px;
  list-style-type: none;
  line-height: 2em;
  margin-bottom: 1em;
  text-align: left;
}

ul a{
  color: inherit;
  text-decoration: none;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
/* End footer */
@media screen and (min-width: 537px) {
  .text-button input[type="submit"] {
    width: 11rem;
  }

  .text-button input[type="email"] {
    width: 17.5rem;
  }
}

@media screen and (max-width: 537px) {
  body {
    text-align: center;
  }

  blockquote {
    margin: auto;
  }

  input {
    width: 100%;
  }
}
